<div class="row">
    <div class="col-md-12 col-centered lb-forgot">
        Bedankt, wij hebben een bericht naar uw e-mailadres gestuurd. Neem contact op met Poortwachtersloket als u ons bericht niet hebt ontvangen.
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-centered">
        @Html.ActionLink("Terug naar login scherm", "Login", "Account", null, new {@class = "btn btn-default"})
    </div>
</div>