@model Web.ViewModels.AdminResetEmployerPasswordViewModel
@{
    ViewBag.Title = "PasswordReset";
}

<div class="col-md-5 col-centered addEmployeeSuccessBorderWrapper">
    <span class="addEmployeeSuccessHeader">
    </span>
    <br />
    <br />
    <p>@Model.ResultMessage</p>
    <br />
    <br />
    @Html.ActionLink("Terug naar profiel", "Login", null, new { @class = "btn btn-primary" })
</div>

