@model IDAL.Models.Question

<div class="questionComplicated" id="@String.Format("p{0}q{1}",Model.PageId, Model.Id)">
    <h3>@Model.QuestionName</h3>

    <input type="text" class="form-control col-md-4" />
    <input type="date" />
</div>
