@model IDAL.Models.Question
<div class="question">
    <!--Question-->
    <h3>@Model.QuestionName</h3>
    <div class="form-group">
        <input type="text" class="form-control" id="@String.Format("p{0}q{1}",Model.PageId, Model.Id)" name="@String.Format("p{0}q{1}",Model.PageId, Model.Id)"></input>
    </div>
</div>
