<div class="row">
    <div class="col-md-12 col-centered lb-forgot">
        Uw gebrikersnaam wordt binnen 5 minuten naar uw e-mail adres verstuurd
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-centered">
        <input type="submit" value="Terug naar login scherm" class="btn btn-default" />
    </div>
</div>
