<div class="row">
    <div class="col-md-12 col-centered lb-forgot">
        Er wordt binnen 5 minuten een link naar uw e-mail adress verzonden waarmee u uw wachtwoord kan herstellen
    </div>
</div>
<div class="row">
    <div class="col-md-12 col-centered">
        @Html.ActionLink("Terug naar login scherm", "Index", "Home", null, new { @class = "btn btn-default" })
        <!--<input type="submit" value="Terug naar login scherm" class="btn btn-default" />-->
    </div>
</div>
