
@{
    ViewBag.Title = "AddEmployeeSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-5 col-centered addEmployeeSuccessBorderWrapper">
    <span class="addEmployeeSuccessHeader">Verzoek ingediend!</span>
    <br/>
    <br />
    <span>
        Uw veroek om een nieuwe werknemer toe te voegen is verstuurd, 
        wanneer deze is goedgekeurd door Trans Lion kunt u aan de slag met 
        het maken van rapportage's. Voor verdere vragen kunt u contact 
        opnemen met Trans Lion.
    </span>
    <br/>
    <br/>
    <input type="submit" class="btn btn-default" value="Terug naar dehomepage"/>
</div>

