@model IDAL.Models.Question

<div class="questionPreviw">
    <!--Question-->
    <h3>@Model.QuestionName</h3>
    @{
        string labelId = "view" + Model.Id.ToString();
    }
    <label id=@labelId>
        
    </label>
</div>