@model IDAL.Models.Question
<div class="question">
    <!--Question-->
    <h3>@Model.QuestionName</h3>
    <!--Answers-->
    <!--If there are only two answers - inline form-->
    @if (Model.Answers.Count == 2)
    {
        foreach (var answer in Model.Answers)
        {
            <label class="radio-inline">
                <input type="radio" name='Question1.'/>
                @answer.Name
            </label>
        }
    }
    else
    {
        foreach (var answer in Model.Answers)
        {
            <div class="radio">
                <label><input type="radio" name='@String.Format("page{0}qa{1}",Model.PageId, Model.Id)'>@answer.Name</label>
            </div>
        }
    }
</div>
