@{
    ViewBag.Title = "PasswordChanged";
}


<div class="col-md-5 col-centered addEmployeeSuccessBorderWrapper">
    <span class="addEmployeeSuccessHeader">Wachtwoord gewijzigd!</span>
    <br />
    <br />
    <span>
        Uw wachtwoord is succesvol veranderd, u kunt voortaan met dit wachtwoord inloggen.
    </span>
    <br />
    <br />
    @Html.ActionLink("Terug naar de homepage", "Index", null, new { @class = "btn btn-default" })
</div>