@model IEnumerable<IDAL.Models.Advisor>
@{
    ViewBag.Title = "Advisors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="tlr-usr-section">
    <!--Header-->
    <div class="row" id="tlr-usr-section-hdr">
        <div class="col-sm-3 col-md-2 col-lg-2">
            <h3>Adviseurs</h3>
        </div>
        <div class="col-sm-offset-5 col-sm-4  col-md-offset7 col-md-3  col-lg-offset-7 col-lg-3">
            <span class="glyphicon glyphicon-search tlr-usr-search-img"></span>
            <input type="search" id="emplSearch" placeholder="search" autofocus />
        </div>
    </div>
    <!--Main panel with users-->
    <div class="row" id="tlr-usr-section-main">
        @foreach (var adv in Model)
        {
            <div class="col-sm-3 col-md-3 col-lg-2 tlr-usr-info">
                <p>@adv.Name</p>
                <a href="@Url.Action("AdvisorInfo", new {id = adv.AdvisorId})" class="tlr-usr-inner-info">
                    <img src="~/Content/Images/UserImg.png" alt="@adv.Name">
                </a>
            </div>
        }
    </div>
</section>

