.pageViewer {
	width: 75%;
	margin: 0 auto;
}


/* slide container */
.page {
    border: 1px dashed #ddd;
	box-shadow: 0 0 0 3px #fff, 0 0 0 5px #ddd;
    margin: 10px 10px 10px 30px;
    padding: 10px 40px;
}

/* override arrows size */
.slick-prev:before, .slick-next:before {
	font-size: 40px; 
	/*color: #0E97C4;*/
    color: #f57b00;
}

.customBtn {
    width: 200px;
    font: 1.75em sans-serif;
}