.innerWrapper
{
	margin: 0 auto;
	height: 600px;
	min-width: 700px;
	max-width: 1000px;
	border: 1px solid black;
    margin-bottom: 50px;
}

.leftPagePanel
{
	text-align: center;
	border-right: 1px solid black;
	width: 100px;
	height: 600px;
	padding-top: 10px;
	float: left;
}

.mainGrid
{
	display: block;
	min-width: 600px;
	max-width: 900px;
	height: 600px;
	padding: 10px;
}

.pageContainer
{
	height: 530px;
	margin-top: 10px;
	overflow:auto;
	overflow-x:hidden;
	padding-right: 5px;
}

#btnSaveTest {
    margin-top: 10px;
}

.btn-nav
{
    border-radius: 0;
    padding: 10px;
    border: none;
	background-color: #F57B00;
	color: white;
    min-width: 100px;
}

.btn-nav:hover{
	background-color: #3E4349;
    color: white;
}

.containerQuestions
{
	margin: 35px 90px;
 	padding-right: 10px;  
	max-height: 520px;
	overflow: auto;
	overflow-x: hidden; 
}

.wrapperQuestion
{
	margin: 10px 0;
	display: block;
}

.nameOfQuestion
{
	display: inline-block;
	margin-bottom: 5px;
	/*margin-left: 12px;*/
}

.editQuestion:hover, .deleteQuestion:hover
{
	cursor: pointer;
}

.editQuestion
{
	height: 15px;
}

.containerAnswers
{
	margin-left: 45px;
}

.textareaAnswer
{
	resize: none;
}

.previewHeader
{
	margin-top: 5px;
}

.sortablePages
{
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.selectedPage
{
	background-color: #F57B00;
}

.buttonDeletePage
{
	margin-left: 10px;
}

#namePageGrid
{
	margin-top: 50px;
	text-align:center;
	font-size: 20px;
}

.compType1Datepicker
{
	width: 100px;
	margin-right: 5px;
	display: inline-block;
}

.wrapperDatepicker>.ui-datepicker-trigger
{
	display: inline-block;
	margin-top: 5px;
	width: 25px;
    float: left;
}

.ui-datepicker-trigger:hover
{
	cursor: pointer;
}

.wrapperDatepicker
{
	padding:0;
	width: 22%;
}

.compType1Select
{
	text-align: center;
	margin-top: 7px;
	width: 140px;
	padding: 0;
	margin-right: 5px;
}

.compType1Input
{
	width: 100px;
	margin-right: 5px;
}

.wrapperAnswer
{
	margin-top: 10px;
}

#myModal>.modal-dialog
{
	width: 750px;
}

.nameQuestionError {
    margin-top: 5px;
    margin-bottom: 5px;
    display: inline;
    visibility: hidden;
    color: #CD0A0A;
}



