/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    font-family: 'Exo 2', Tahoma, Geneva, Verdana, sans-serif;
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header { margin-bottom: 10px; }

.loginForm { padding-top: 75px; }

.loginForm p {
    font-size: 12px;
    padding-bottom: 10px;
}

.account_registration { padding-top: 30px; }

.vcenter {
    display: inline-block;
    float: none;
    vertical-align: middle;
}

.tb-forgot { padding-left: 0; }

.form-forgot { margin-bottom: 0; }

.col-centered {
    float: none;
    margin: 0 auto;
    /*text-align: center;*/
}

.row-centered { padding-bottom: 30px; }

.lb-forgot {
    margin-bottom: 15px;
    padding-left: 0;
}

.accountConfirm {
    margin: 0 auto;
    padding-top: 100px;
    width: 50%;
}

/*Sticky footer begin*/

.wrapper {
    min-height: 100%;
    position: relative;
}

.containerWrapper {
    padding: 10px;
    padding-bottom: 80px;
}

footer {
    background-color: #3e4349;
    bottom: 0;
    color: #fff;
    height: 60px;
    position: absolute;
    width: 100%;
}

footer p {
    line-height: 60px;
    text-align: center;
}

/*Sticky footer end*/

.btn-nav
{
    border-radius: 0;
    padding: 15px;
    border: none;
	background-color: #F57B00;
	color: white;
    min-width: 100px;
}

.btn-nav:hover{
	background-color: #3E4349;
    color: white;
}

/*EMPLOYER AND ADMIN PAGES STYLE*/

/*users(employees or employers) list style*/

#tlr-usr-section {
    margin-top: 30px;
    padding-bottom: 10%;
    text-align: center;
    vertical-align: central;
}

/*Header of section(with button and search)*/

#tlr-usr-section-hdr { margin-top: 5px; }

/*Admin button which adds users style*/

a#tlr-usr-section-hdr-adm-btn:focus,
a#tlr-usr-section-hdr-adm-btn:active,
a#tlr-usr-section-hdr-adm-btn:visited  {
    background-color: inherit;
    border: none;
    outline: none;
    display: block;
    color: black;
    text-decoration: none;
}

/*Search field*/

input#emplSearch {
    border-color: black;
    border-radius: 20px;
    border-width: 1px;
    font-size: 14px;
    margin-left: -25px; /*for search glyphicon  ?????*/
    max-width: 150px;
    padding-left: 25px;
}

input#emplSearch:focus,
input#emplSearch:hover {
    border-width: 2px;
    outline: none;
}

/*Add workers button style*/

input#addWorker {
    background-color: inherit;
    border: 1px solid black;
}

input#addWorker:hover, input#addWorker:focus {
    font-weight: 500;
    outline: none;
}

/*Section with images and user's names styles*/

#tlr-usr-section-main {
    border-top: 1px solid rgb(206, 206, 206);
    height: 375px; /*change this value if image will change*/
    margin: 20px;
    overflow-y: auto;
    padding: 10px;
}


/*user's info*/

.tlr-usr-info { margin-bottom: 50px; }

a.tlr-usr-inner-info {
    display: block;
    height: auto;
    width: 100%;
}

/*image in user's info styles*/

a.tlr-usr-inner-info > img {
    border: 1px solid black;
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
}

a.tlr-usr-inner-info > img:hover { box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

/*Embloyees label styles*/

.tlr-usr-info-label-btn,
.tlr-usr-info-label-btn:hover,
.tlr-usr-info-label-btn:visited
{
    background-color: inherit;
    border: none;
    outline: none;
    display: block;
    color: black;
    text-decoration: none;
}

p.tlr-user-inner-info-trash {
    background-color: inherit;
    text-align: center;
    color: black;
    display: block;
    margin-bottom: -19px;
    padding-left: 107px;
    z-index: 20;
}
p.tlr-user-inner-info-trash > span {
    font-size: 14px;
}

/*LAYOUT PAGE USER'S INFO STYLE*/

/*Admin messages number style*/

.tlr-usr-adm-messgs-txt {
    color: red;
    display: inline;
    font-size: 20px;
    vertical-align: central;
    z-index: 10;
}

/*user's info main style*/

div.tlr-us-info-block {
    padding: 20px;
    text-align: center;
}

.tlr-logged-img {
    display: block;
    height: auto;
    max-width: 100%;
}

a.tlr-us-info-link,
a.tlr-us-info-link:visited {
    color: cornflowerblue;
    text-decoration: underline;
}

/*Employer settings styles*/
section#emplSettings {
    margin-top: 50px;
    text-align: center;
    vertical-align: central;
    padding: 20px 10px;
    border: 1px solid black;
    background-color: inherit;
    min-width: 500px;
}
.emplSettingsButton, 
.emplSettingsButton:visited {
    background-color: inherit;
    border: 1px solid black;
    padding: inherit;
    text-decoration: none;
    color: black;
    padding: 0px 10px;
}

.emplSettingsButton:hover {
    font-weight: 500;
    text-decoration: none;
    color: black;
}

section#emplSettings h3 {
    text-align: left;
    margin-top: -35px;
    z-index: 1;
    background-color: white;
    max-width: 170px;
    padding: 0px 10px;
}


div.emplSettingsMain {
    margin-top: 50px;
}
#emplSettingsMainImage a {
    max-width: 100%;
    display: block;
    height: auto;
    
}
#emplSettingsMainImage a>img {
    border: 1px solid black;
    height: auto;
    width: auto;
    max-height: 120px;
    max-width: 120px;
    overflow: hidden;
    padding: 10px;
    text-decoration: none;
}

#emplSettingsMainImage a :hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

div.emplSettingsMainData {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
    margin: 5px;
}

div.emplSettingsMainDataElem {
    float: left;
    display: block;
    width: 50%;
    padding: inherit;
}

div.emplSettingsBottom {
    margin-top: 15px;
}

div.emplSettingsBottom a {
    padding: 0px 68px;
}
.addEmployeeSuccessBorderWrapper {
    -ms-border-radius: 20px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 15px;
    text-align: center;
    word-wrap: break-word;
}

.addEmployeeSuccessHeader { font-size: 1.5em; }

.addEmployeeHeader {
    display: block;
    font-size: 30px;
    margin-bottom: 50px;
}

/*employee info*/
.leftAlignText {
    text-align: left;
    padding-top: 5px;
}

.centerText {
    text-align: left;
    padding-top: 5px;
}

.employeeInfoRow {
    margin-top: 30px;
}

/*adminSettings*/
a.admSettingsButton,
button.admSettingsButton
a.admSettingsButton:visited {
    display: block;
    text-align: center;
    margin: auto;
    color: black;
    background-color: inherit;
    font-family: inherit;
    border: 1px solid black;
    max-width: 200px;
    margin-top: 30px;
    padding: 15px;
    text-decoration: none;
}

a.admSettingsButton:hover,
button.admSettingsButton:hover {
    font-weight: 500;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

section.borderedSection {
    border: 1px solid black;
    background-color: yellow;
}

.advisorSettingsWrapper {
    border: 1px solid black;
    min-height: 500px;
}

.advSettingsTitle {
    background-color: white;
    margin-top: -10px;
    max-width: 155px;
    text-align: left;
}

.advSettingsName {
    text-align: left;
    margin-left: 30px;
}

.advAfterName {
    margin-bottom: 150px;
}

.advBackBtn {
    margin-left: 0;
    padding-top: 200px;
    text-align: left;
}

/* Passing test: question styles */
.previewHeader {
    padding: 15px 0;
}

.title1 {
    font: bold italic 2em sans-serif;
    text-decoration: underline;
}

.title2, .questionPreview {
    font: 1.2em sans-serif;
}

.pageTitle {
    font: bold 1.5em sans-serif;
    padding: 10px 0;
}

.questionTitle {
    padding-bottom: 5px;
    font-weight: lighter;
    font: italic 0.85em sans-serif;
}

.questionComplicated {
    padding: 15px 0;
}

.myTable thead{
    font: bold italic 0.85em sans-serif;
}

.myTable tbody{
    font: 0.85em sans-serif;
}

.submitTextBlock {
    font: 1.3em sans-serif;
    padding: 20px 0;
}

.italic {
    font-style: italic;
}

.hasDatepicker {
    float: left;
}