@using GridMvc.Html
@model System.Collections.Generic.List<Web.ViewModels.AdminAlertPanelViewModel>
@{
    ViewBag.Title = "AlertPanel";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="centerText">Verzoek Inbox</h2>
<h3 class="centerText">Verzoeken</h3>
<div class="row">
    @Html.Grid(Model).Columns(columns =>
    {
        columns.Add(c => c.EmployerName).Titled("Werkgever").Filterable(true);
        columns.Add(c => c.Company).Titled("Bedrijf").Filterable(true);
        columns.Add(c => c.EmployeeName).Titled("Werknemer").Filterable(true);
        columns.Add(c => c.AlertType).Titled("Verzoek/Notificatie").Filterable(true);
    }).WithPaging(20).Sortable(true)
</div>