@{
    ViewBag.Title = "Settings";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="advisorSettingsWrapper container col-centered">
    <div class="col-md-2 advSettingsTitle">
        Adviseur gegevens
    </div>
    <br/>
    <div class="row advAfterName">
        <div class="advSettingsName">
            @ViewBag.Name
        </div>
    </div>
    <div class="row">
        @Html.ActionLink("Verander wachtwoord", "PasswordChange", null, new {@class = "admSettingsButton"})
    </div>
    <div class="row">
        @Html.ActionLink("Terug", "Index", null, new { @class = "admSettingsButtonTER" })
    </div>
</div>