@model IDAL.Models.Question

<div class="questionPreview">
    <!--Question-->
    <span>@Model.QuestionName :</span>
    @{
        string labelId = String.Format("viewp{0}q{1}", Model.PageId, Model.Id);
    }
    <label id=@labelId>
        
    </label>
</div>