@using Web.Infrastructure.HtmlHelpers
@model System.Collections.Generic.IEnumerable<IDAL.Models.Page>
@{
    ViewBag.Title = "GetAllPages";
}


@foreach (var page in Model)
{
    <h2>@page.Name</h2>
        <div class="row">
            @foreach (var question in page.Questions)
            {
                @Html.CreateQuestion(question)
            }
        </div>
}